body{
	background: #1C1B1B;
	color: #666;
	font-family: "Arial", sans-serif;
}
h1{
	text-align: center;
	color: #FFF;
}
.clearFlix{
	clear: both;
}
#container{
	width: 350px;
	overflow: auto;
	margin: 40px auto;
	background: #666;
	padding-bottom: 40px;
	border-radius: 10px;
}
#board li{
	float: left;
	margin: 10px;
	height: 70px;
	width: 70px;
	font-size: 55px;
	background: #333;
	color: #CCC;
	list-style: none;
	text-align: center;
	border-radius: 5px;
}
#board li:hover, #reset:hover{
	cursor: pointer;
	background: #000;
}
#reset{
	border: 0px;
	background: #444;
	color: #FFF;
	width: 70%;
	padding: 15px;
	border-radius: 5px;
	font-size: 20px;
}
#result{
	text-align: center;
	color: #FFF;
	padding-top: 30px;
	font-size: 20px;
}
.o{
	color: green !important;
}
.x{
	color: red !important;
}
footer{
	display: block;
	text-align: center;
	padding-top: 20px;
}